<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Пацай</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navMenu">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="/">Головна</a></li>
                <li class="nav-item"><a class="nav-link" href="/resume">Резюме</a></li>
                <li class="nav-item"><a class="nav-link" href="/products">Продукти</a></li>
                <li class="nav-item"><a class="nav-link" href="/profile">Профіль</a></li>
                <li class="nav-item"><a class="nav-link" href="/login">Вхід</a></li>
            </ul>
        </div>
    </div>
</nav>